PORT=5000
EMAIL_USER=wisdomvolt@gmail.com
EMAIL_PASSWORD=gfnb nabi mgxu fiic 
MONGODB_URI=mongodb+srv://wisdomvolt:6NDc4PMCZ1ZRyq1L@cluster0.wjbhauk.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your-secret-key-here 